In [32]:
import pandas as pd

# Create Dataframes from Datasets

In [33]:
# Load Customers dataframes from CSV
df_customers = pd.read_csv('datasets/churn_customers.csv')

In [34]:
# Show first 5 rows
print(df_customers.head(5))

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [35]:
# Show last 5 rows

print(df_customers.tail(5))

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [36]:
# Show schema of dataframe

df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [37]:
# Load service from dataframe from CSV
df_services = pd.read_csv('datasets/churn_services.csv', index_col='customerID')

In [38]:
# Shot first 5 rows
print(df_services.head(5))

           PhoneService     MultipleLines InternetService OnlineSecurity  \
customerID
7590-VHVEG           No  No phone service             DSL             No
5575-GNVDE          Yes                No             DSL            Yes
3668-QPYBK          Yes                No             DSL            Yes
7795-CFOCW           No  No phone service             DSL            Yes
9237-HQITU          Yes                No     Fiber optic             No

           OnlineBackup DeviceProtection TechSupport StreamingTV  \
customerID
7590-VHVEG          Yes               No          No          No
5575-GNVDE           No              Yes          No          No
3668-QPYBK          Yes               No          No          No
7795-CFOCW           No              Yes         Yes          No
9237-HQITU           No               No          No          No

           StreamingMovies
customerID
7590-VHVEG              No
5575-GNVDE              No
3668-QPYBK              No
7795-CFOCW              No
9237-HQITU              No

In [39]:
# Show last 5 rows
print(df_services.tail(5))

           PhoneService     MultipleLines InternetService OnlineSecurity  \
customerID
6840-RESVB          Yes               Yes             DSL            Yes
2234-XADUH          Yes               Yes     Fiber optic             No
4801-JZAZL           No  No phone service             DSL            Yes
8361-LTMKD          Yes               Yes     Fiber optic             No
3186-AJIEK          Yes                No     Fiber optic            Yes

           OnlineBackup DeviceProtection TechSupport StreamingTV  \
customerID
6840-RESVB           No              Yes         Yes         Yes
2234-XADUH          Yes              Yes          No         Yes
4801-JZAZL           No               No          No          No
8361-LTMKD           No               No          No          No
3186-AJIEK           No              Yes         Yes         Yes

           StreamingMovies
customerID
6840-RESVB             Yes
2234-XADUH             Yes
4801-JZAZL              No
8361-LTMKD              No
3186-AJIEK             Yes

In [40]:
# Show schema of churn_service dataframe 
df_services.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PhoneService      7043 non-null   object
 1   MultipleLines     7043 non-null   object
 2   InternetService   7043 non-null   object
 3   OnlineSecurity    7043 non-null   object
 4   OnlineBackup      7043 non-null   object
 5   DeviceProtection  7043 non-null   object
 6   TechSupport       7043 non-null   object
 7   StreamingTV       7043 non-null   object
 8   StreamingMovies   7043 non-null   object
dtypes: object(9)
memory usage: 550.2+ KB

In [41]:
# Load contract dataset CSV
df_contract = pd.read_csv('datasets/churn_contracts.csv', index_col='customerID')

In [42]:
# Show first 5 rows
print(df_contract.head(5))

            tenure        Contract PaperlessBilling  \
customerID
7590-VHVEG       1  Month-to-month              Yes
5575-GNVDE      34        One year               No
3668-QPYBK       2  Month-to-month              Yes
7795-CFOCW      45        One year               No
9237-HQITU       2  Month-to-month              Yes

                        PaymentMethod  MonthlyCharges TotalCharges Churn
customerID
7590-VHVEG           Electronic check           29.85        29.85    No
5575-GNVDE               Mailed check           56.95       1889.5    No
3668-QPYBK               Mailed check           53.85       108.15   Yes
7795-CFOCW  Bank transfer (automatic)           42.30      1840.75    No
9237-HQITU           Electronic check           70.70       151.65   Yes

In [43]:
# Show last 5 rows
print(df_contract.tail(5))

            tenure        Contract PaperlessBilling  \
customerID
6840-RESVB      24        One year              Yes
2234-XADUH      72        One year              Yes
4801-JZAZL      11  Month-to-month              Yes
8361-LTMKD       4  Month-to-month              Yes
3186-AJIEK      66        Two year              Yes

                        PaymentMethod  MonthlyCharges TotalCharges Churn
customerID
6840-RESVB               Mailed check           84.80       1990.5    No
2234-XADUH    Credit card (automatic)          103.20       7362.9    No
4801-JZAZL           Electronic check           29.60       346.45    No
8361-LTMKD               Mailed check           74.40        306.6   Yes
3186-AJIEK  Bank transfer (automatic)          105.65       6844.5    No

In [44]:
# Show schema of churn_contract dataframe
df_contract.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tenure            7043 non-null   int64
 1   Contract          7043 non-null   object
 2   PaperlessBilling  7043 non-null   object
 3   PaymentMethod     7043 non-null   object
 4   MonthlyCharges    7043 non-null   float64
 5   TotalCharges      7043 non-null   object
 6   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 440.2+ KB

# Transform Data

In [45]:
# transform column TotalCharges from String to Float - #1 approach - using astype()
df_contract.TotalCharges = df_contract.TotalCharges.astype(float)

ValueError: could not convert string to float: ''

In [ ]:
# transform column TotalCharges from String to Float - #2 approach - using to_numeric()
df_contract.TotalCharges = pd.to_numeric(df_contract.TotalCharges)

In [ ]:
# transform column TotalCharges from String to Float - #3 approach - using to_numeric() with coerce
df_contract.TotalCharges = pd.to_numeric(df_contract.TotalCharges, errors = 'coerce')

In [ ]:
# Column TotalCharges should be converted to float
df_contract.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tenure            7043 non-null   int64
 1   Contract          7043 non-null   object
 2   PaperlessBilling  7043 non-null   object
 3   PaymentMethod     7043 non-null   object
 4   MonthlyCharges    7043 non-null   float64
 5   TotalCharges      7032 non-null   float64
 6   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 440.2+ KB

### Disclaimer: after column TotalCharges transformation into contract dataframe, the column has been with 11 missing values

## Rename columns

In [ ]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         7043 non-null   object
 1   SeniorCitizen  7043 non-null   int64
 2   Partner        7043 non-null   object
 3   Dependents     7043 non-null   object
dtypes: int64(1), object(3)
memory usage: 275.1+ KB

In [ ]:
# Rename column in Dataframe using rename() and dict 
df_customers.rename(columns={'SeniorCitizen': 'Above65yo'})

            gender  Above65yo Partner Dependents
customerID
7590-VHVEG  Female          0     Yes         No
5575-GNVDE    Male          0      No         No
3668-QPYBK    Male          0      No         No
7795-CFOCW    Male          0      No         No
9237-HQITU  Female          0      No         No
...            ...        ...     ...        ...
6840-RESVB    Male          0     Yes        Yes
2234-XADUH  Female          0     Yes        Yes
4801-JZAZL  Female          0     Yes        Yes
8361-LTMKD    Male          1     Yes         No
3186-AJIEK    Male          0      No         No

[7043 rows x 4 columns]

In [ ]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         7043 non-null   object
 1   SeniorCitizen  7043 non-null   int64
 2   Partner        7043 non-null   object
 3   Dependents     7043 non-null   object
dtypes: int64(1), object(3)
memory usage: 275.1+ KB

In [ ]:
# create new DataFrame with renamed column
df_customers_renamed = df_customers.rename(columns={'SeniorCitizen': 'Above65yo'})
df_customers_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gender      7043 non-null   object
 1   Above65yo   7043 non-null   int64
 2   Partner     7043 non-null   object
 3   Dependents  7043 non-null   object
dtypes: int64(1), object(3)
memory usage: 275.1+ KB

In [ ]:
# Apply the result of rename() at the DataFrame it self
df_customers.rename(columns={'SeniorCitizen': 'Above65yo'}, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gender      7043 non-null   object
 1   Above65yo   7043 non-null   int64
 2   Partner     7043 non-null   object
 3   Dependents  7043 non-null   object
dtypes: int64(1), object(3)
memory usage: 275.1+ KB

In [ ]:
# Show schema of Customers DataFrame 
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 7590-VHVEG to 3186-AJIEK
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gender      7043 non-null   object
 1   Above65yo   7043 non-null   int64
 2   Partner     7043 non-null   object
 3   Dependents  7043 non-null   object
dtypes: int64(1), object(3)
memory usage: 275.1+ KB

In [46]:
# rename multiple columns using list

df_customers.columns = ['ClientID', 'Gender', 'Above65yo', 'Partner', 'Dependents']

In [47]:
# Show DataFrame schema
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ClientID    7043 non-null   object
 1   Gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

## Merge DataFrames Services, Customers and Contracts

In [50]:
# check availability to merge DataFrames
# count quantity of register at DataFrame 
len(df_customers)

7043

In [52]:
len(df_services)

7043

In [51]:
len(df_contract)

7043

In [53]:
# Rename column ClientID to customerID
df_customers.rename(columns={'ClientID': 'customerID'}, inplace=True)

In [54]:
# Merge DataFrames Customers and Services by creating a third DataFrame
df_temp = df_customers.merge(df_services, on='customerID')

In [55]:
# Show schema of temp DataFrame
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Gender            7043 non-null   object
 2   Above65yo         7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
dtypes: int64(1), object(13)
memory usage: 770.5+ KB

In [58]:
# Merge temp DataFrame with Contract DataFrame by matching different columns names
df_churn_temp = df_temp.merge(df_contract, left_on=['customerID'], right_on=['customerID'])

In [59]:
# Show schema of churn_temp DataFrame
df_churn_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Gender            7043 non-null   object
 2   Above65yo         7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  tenure            7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [60]:
# Merge all DataFrames in one step with different columns names
df_churn = df_customers.merge(df_services, on='customerID').merge(df_contract, on='customerID')

In [61]:
# Show schema of churn DataFrame
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Gender            7043 non-null   object
 2   Above65yo         7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  tenure            7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [62]:
# Drop column of a DataFrame using drop()
# axis = 1 means column because axis sets the orientation of the operation (x, y, z...)
df_churn_temp.drop(columns=['customerID'], axis=1, inplace=True)